alembic==1.15.1
asyncpg==0.30.0
asyncmy==0.2.10
auth0-python==4.9.0
fastapi==0.115.12
#phonenumbers==8.13.31
#pydantic-extra-types==2.6.0
pydantic==2.11.0
pydantic-settings==2.8.1
pyjwt[crypto]==2.10.1
python-multipart==0.0.20
requests==2.32.3
sqlmodel==0.0.24
uvicorn[standard]==0.34.0
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
