name: Build and Deploy CYSL Backend

on:
  push:
    paths:
      - 'src/**'
      - 'Dockerfile'
      - '.dockerignore'
      - '.github/workflows/build-deploy.yml'
    branches:
      - '**'
      - '!releases/**'
env:
  DB_NAME: testdb
  DB_USERNAME: root
  DB_PASSWORD: testrootpass
  IMAGE_NAME: cysl-api
jobs:    
  test_and_build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          # The MySQL docker container requires these environment variables to be set
          # so we can create and migrate the test database.
          # See: https://hub.docker.com/_/mysql
          MYSQL_DATABASE: ${{ env.DB_NAME }}
          MYSQL_ROOT_PASSWORD: ${{ env.DB_PASSWORD }}
        ports:
          # Opens port 3306 on service container and host
          # https://docs.github.com/en/actions/using-containerized-services/about-service-containers
          - 3306:3306
          # Before continuing, verify the mysql container is reachable from the ubuntu host
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    defaults:
      run:
        working-directory: src
    strategy:
      matrix:
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r tests/requirements.txt

    - name: Setup Environment
      run: |
        export ENV_FILE="ci.env"
        export DATABASE_URL="mysql+asyncmy://${{ env.DB_USERNAME }}:${{ env.DB_PASSWORD }}@localhost:3306/${{ env.DB_NAME }}"
        alembic upgrade head
        cd tests
        ./load_db.sh -u ${{ env.DB_USERNAME }} -p ${{ env.DB_PASSWORD }} -d ${{ env.DB_NAME }}

    - name: Test with pytest
      run: |
        export ENV_FILE="ci.env"
        export DATABASE_URL="mysql+asyncmy://${{ env.DB_USERNAME }}:${{ env.DB_PASSWORD }}@localhost:3306/${{ env.DB_NAME }}"
        coverage run -m pytest --junitxml=coverage.xml
        coverage xml -o coverage.xml
        sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.IMAGE_NAME }}
        tags: |
          type=sha,prefix={{branch}}-

    - name: Build image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: runnumber=${{ github.run_id }}
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME }}.tar
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run Trivy vulnerability scanner in fs mode
      uses: aquasecurity/trivy-action@0.33.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        trivy-config: trivy.yaml

    - name: Upload image artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: /tmp/${{ env.IMAGE_NAME }}.tar
        retention-days: 1

  docker_push:
    needs: [test_and_build]
    runs-on: ubuntu-latest
#    if: github.ref == 'refs/heads/main'
    permissions:
      packages: write
      contents: read

    steps:
    - name: Download image artifact
      uses: actions/download-artifact@v4
      with:
        name: docker-image
        path: /tmp

    - name: Load Docker image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
        docker image ls -a

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
        IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        [ "$VERSION" == "main" ] && VERSION=latest

        # Get the built image tag from previous job
        BUILT_IMAGE=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep ${{ env.IMAGE_NAME }} | head -n 1)
        
        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION
        echo BUILT_IMAGE=$BUILT_IMAGE
        
        docker tag $BUILT_IMAGE $IMAGE_ID:$VERSION
        docker tag $BUILT_IMAGE $IMAGE_ID:latest
        docker push $IMAGE_ID:latest
        docker push $IMAGE_ID:$VERSION